* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;

  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  font-size: 20px;
  font-family: Arial, system-ui, sans-serif;
  width: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px;
}

/*** POUR L'AFFICHAGE ***/
.toScreen,
.for-operations .block {
  width: 320px;
}

.toScreen {
  min-height: 100px;
  border: 1px solid #008000;
  border-radius: 5px;
  margin: 18px auto;
  padding: 0 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.toScreen .display {
  font-size: 22px;
  height: 18px;
}

.toScreen .screen {
  font-weight: 900;
}

/*** STYLE DES BOUTONS ***/

.for-suppression button:hover,
.block button:hover {
  transform: scaleY(1.1);
}
.for-suppression {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 12px;
}

.for-suppression button,
.for-operations button {
  font-size: 18px;
  border-color: #ddd;
}

.for-suppression button {
  font-weight: 800;
  color: #ff4806;
  background-color: #fff;
  text-transform: uppercase;
  width: 158px;
  padding: 16px 20px;

  border-radius: 5px;
}

.for-operations .block {
  margin: 0 auto 18px;
  display: flex;
  width: 320px;
}

.for-operations button {
  width: 67px;
  padding: 16px;
  border-radius: 5px;
}

.for-operations .digits {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.digits .digit:hover {
  background-color: #fff;
}

.digits .equal {
  background-color: #ff4806;
  color: #fff;
  border-color: #ff4806;
}

.for-operations .operators {
  flex: 3;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 16px;
}

.operators button {
  color: #ff4806;
  background-color: #fff;
}
